name: Test

on:
  - push
  - pull_request

jobs:
  cache:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: sudo apt install -y zsh
      - name: Install sane-fmt
        uses: sane-fmt/action@0.4.2
        with:
          run: 'false'
          export-path: 'true'
      - name: Cache
        timeout-minutes: 1
        continue-on-error: true
        uses: actions/cache@v2
        with:
          path: ~/.cache/deno
          key: deno-${{ runner.os }}-${{ hashFiles('**/deps.ts') }}
          restore-keys: |
            deno-${{ runner.os }}-${{ hashFiles('**/deps.ts') }}
            deno-${{ runner.os }}-
            deno-
      - name: Install Deno
        uses: denolib/setup-deno@v2.2.0
        with:
          deno-version: 1.0.0
      - name: Cache and Type Check
        run: ./cache.zsh
      - name: Prepare for uploading deno cache as artifacts
        run: cp -r ~/.cache/deno deno-cache.tmp
      - name: Upload deno cache as artifacts
        uses: actions/upload-artifact@v2.1.4
        with:
          name: deno-cache
          path: deno-cache.tmp

  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: KSXGitHub/github-actions-sane-fmt@0.4.2
